@page
@model SERVER.Pages.Games.IndexModel

@{
    ViewData["Title"] = "Games Dashboard";
}

<div class="top-nav">
    <a href="/">Home</a>
    <a href="/About">About</a>
    <a href="/Players">Our Players</a>
    <a href="/Games">All Games</a>
    <a href="/">Services</a>
</div>

<div class="dashboard-container">
    <h2 class="dashboard-title">Games Dashboard</h2>

    <div class="sort-container">
        <form method="post">
            <div class="sort-controls">
                <button asp-page-handler="" , class="btn btn-login">Default Order</button>
                <button asp-page-handler="" , class="btn btn-login">Sort 1</button>
                <button asp-page-handler="" , class="btn btn-login">Sort 2</button>
            </div>
        </form>
    </div>



    <table class="players-table">
        <thead>
            <tr>
                <th>Game Id</th>
                <th>Player</th>
                <th>Date</th>
                <th>Start Time</th>
                <th>Duration</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TblGames)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Player.Name</td>
                    <td>@item.Date</td>
                    <td>@item.StartTime</td>
                    <td>@item.Duration</td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id" class="btn-edit">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id" class="btn-details">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id" class="btn-delete">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

